*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
  background-color:rgb(250, 240, 230); 
  font-family: Arial, Helvetica, sans-serif;
color:  rgb(91, 89, 89);
  width: 100%;

}
li a{
    color:gray;
    text-decoration: none;

}
ul{
    list-style: none;
 
}
h4{
    font-size: 15px;
   
}
p{
    font-size: 15px;
}
h3{
    font-size: 15px;
  text-align: left;
    color:  rgb(91, 89, 89);
   
}
h2{
  font-size: 20px;
  color: rgb(91, 89, 89);
  margin-top: 50px;
}
h1{
    margin-top: 15px;
    font-size: 15px;
    color: rgb(91, 89, 89);
}

hr {
    border: 0;
        border-top: 1px solid #999; 
     height:10px;
     border-radius:100%;
        }




@media(min-width:768px){
    h2{
        font-size: 30px;
      margin-top: 10px;
      }
      h1{
          margin-top: 15px;
          font-size: 20px;
        
      }
      h3{
        font-size: 20px;
  color:  rgb(91, 89, 89);

 
    }
    h4{
        font-size: 20px;
margin-bottom: 20px;
       
    }
    p{
        font-size: 20px;
    }

   li a{
    font-size: 16px;
    
   
   }
}



