.flex {
    display: flex;

}

.flex .comida section {
    padding-left: 10px;
    margin-bottom: 70px;
}

.flex .comida section article {
    margin-top: 20px;
    padding-left: 10px;
}

.flex .comida section article p {
    margin-top: 10px;
}

.main_box li {
    width: 70%;
    height: 20px;
    font-size: 15px;
    margin-right: 60px;
    padding-top: 40px;
}

.main_box {
    border-right: solid 1px gray;
}

.comida img {
    width: 50%;
    float: right;
}

.comida {
    padding-top: 30px;
}