.flex {
    display: flex;
 }

.flex .comida section {
    padding-left: 10px;
    margin-bottom:10px;
}

.flex .comida section article {
    margin-top: 10px;
    padding-left: 10px;
}

.flex .comida section article p {
    margin-top: 10px;
}

.main_box li {
    width: 40%;
    height: 20px;
    font-size: 15px;
    margin: 15px;
    padding-top: 40px;
   
}

.comida{
    border-left: 1px solid gray;
    height: 5%;
}
.comida img {
    width: 60%;
    margin-left: 10px;
    padding-top: 0px;
    }


    
.volver a{
    color: black;
    text-decoration: none;
    font-weight: bold;
 font-size: 15px;

}
/*foooter*/
.footer{
    background-color: rgb(220, 220, 220);
width: 100%;
height: 100%;
display: flex;
margin: 0;
}
.footer__img img{
    background-position: left top;
    width: 50%;
    height: 80%;
  
   
}
.redes ul li a{
color:#fefae0;;
font-size: 10px;

text-transform: uppercase;


}






@media(min-width:768px){

    .main_box li {
 font-size: 25px;
  margin: 10px 80px;
      }


.volver a{

 font-size: 15px;
}
.comida img{
 float: right;
    width: 40%;
    padding-top: 50px;
}
.redes li a{

    font-size: 20px;
   padding-left: 150%;
text-decoration:underline;
   color:#fefae0;
}
}

